{% load static %}
{% include "blog/header.html" %}

<body>
    <div id="corpo">
            <div  align="center">
                    <img  src="{% static 'imagens/divider_lol.png' %}">
            </div>
            <br>
            <br>
            <center><h2>Faça seu login!</h2></center>
            <br>
        {% block content %}

       
        <br>
        <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <center>
        <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
          </tr>
        </center>
        <center>
          <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
          </tr>
          <p><a  href="{% url 'password_reset' %}">Perdeu a senha?</a></p>
        </center>
          </table>
          <table>   
          <center><input type="submit" value="login" /></center>
          <br>
          <br>
          {% if form.errors %}
          <h2><center><p id="erroouu">Seu usuário ou senha estão incorretos. Por favor, tente novamente.</p></center></h2>
      {% endif %}
      <br>
      <br>
      <br>
          <input type="hidden" name="next" value="{{ next }}" />
          </form>
          
          
          
          {% endblock %}

    </div>
</body>


{% include "blog/footer.html" %}
