<center><img src="https://lolstatic-a.akamaihd.net/frontpage/apps/prod/signup/pt_BR/19025e5bd85e0924c3c3c5b4c832aed92a935444/assets/pt_BR/assets/divider.png"></center>
            <div>
                <div class="row">
                    <div class="col"></div>
                    <div class="widget dld_profile_widget">
                        <div class="widget-content dld-clear">
                            <div class="image-box">
                                <span class="dld-radius-50">
                                    <img src="https://i.ibb.co/ZWCTfsy/Avatar-Mice-Sophie.png">
                                </span>
                                <span class="image-bg dld-radius-50"></span>
                                <figcaption><h3>Eu</h3>A dona da p0h@ toda.<br>Espero que se divirta :)
                                </figcaption>
                            </div>
                        </div>
                    </div>
                    <div class="col"></div>
                </div>
            </div>