{% include "blog/header.html" %}


	<body>
        <div id="corpo">
            {% include "blog/adonaaquisoueu.html" %}
            
            <div class="row">
                <div class="col-7">
                    <div id="todososposts">
                        <h2>{{ object.name }}</h2>                
                    </div>
                    {% for post in object.posts.all %}
                    	{% include "blog/post_card.html" %}                    
                    {% endfor %}
                </div>                
                {% include "blog/sidebar.html" %}
            </div>

   </body>


{% include "blog/footer.html" %}
