{% load static %}
<div>
    <footer class="footer">
        <h5><i>Siga-me!</i></h5>

        <div class="footer__social-share social-share">
            <a href="#"><img src="https://i.ibb.co/tCNYhG1/icon-facebook.png"></a>
            <a href="#"><img src="https://i.ibb.co/G9wjv1S/icon-twitter.png"></a>
            <a href="#"><img src="https://i.ibb.co/LpyrkBT/icon-insta.png"></a>
            <a href="#"><img src="https://i.ibb.co/zb6WHJF/icon-pinterest.png"></a>
            <a href="#"><img src="https://i.ibb.co/cyGL6JP/icon-heart.png"></a>
            <a href="#"><img src="https://i.ibb.co/YtNcShd/icon-wifi.png"></a>           
        </div>

        <div>
            <center>
            <p id="direitos"> "O espírito sem limites<br>é a maior virtude do homem"<br> ~ Rowena Ravenclaw</p>
          </center>
        </div>

        <img id="cisne"src="{% static 'imagens/theschoolforgoodandevil.png' %}">

        <div>
            <p id="direitos">
                Todos os direitos reservados © 2019 A Escola do Bem e do Mal ™ 
        </div>

    </footer>
</div>