{% load static %}
<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <title>A Escola do Bem e do Mal</title>
    <style type="text/css">
        #cabecalho{
          background-color: #04131a;
          background-repeat: no-repeat;
          height: 50px;
          color: white;
          }
        #cabecalho2{
            background-color: #1d3038;
            color:white;
        }

        #rupaul {
          font-size: 20px;
          margin-top: 15px;
          margin-bottom: 30px;
        }

        #EBM{
            margin-right: 5px;
        }
        
        #facebook{
            margin-right: 20px;

        }   
        #twitter{
            

        }
        #insta{
            
        }

        #hello{
        margin-top: 5px;
      }

        #hi{
        margin-top: 10px;
      }
       
       #linkbranco{
           color: white;
           text-decoration: none;
       }

       #linklilas{
           color:#bcc7d7;
           text-decoration: none;
       }

      #cisne{
        margin-bottom: 30px;
    }

        .footer {
            background: #1d3038;
            font-family: "Roboto Regular",Arial,sans;
            padding: 20px 0 70px;
            text-align: center;
            color: #fff;
        }
        .social-share {
            border-bottom: 1px solid #4f4f4f;
            margin: 12px auto 50px;
            height: 67px;
            width: 286px;
        }

        #direitos {
            font-size: 12px;
            color: #d3d3d3;
            line-height: 18px;
            font-family: "Roboto Regular",Arial,sans;
        }

        #sobre{
            margin-left: 40px;
        }

        #corpo{
            background-color: #a9c3cf;
        }

.dld_profile_widget {
text-align: center;
}
.widget {
margin-bottom: 2.5em;
}
.image-box {
position: relative;
}

.dld-radius-50{
border-radius: 50%;

}
#casinha{
margin-left: 60px;
}
#conta{
            margin-left: 40px;
        }

#post {
width: 700px;
background-color: white;
margin-left: 200px;
padding: 20px;
margin-bottom: 4em;
}

color: #bcc7d7;

color: #bcbec0;

#primary{
margin-left: 200px;
}
#description{
padding-bottom: 10px;
border-bottom-style: dotted;
}
#titulolindo{
border-style: dotted;
border-width: 2px;
padding: 5px;
color:#bcc7d7;
}

#dadospost{
font-size: 18px;
color: #bcbec0;
font-style: italic;
}
#postdescricao{
border-bottom-style: dotted;
border-width: 2px;
margin-bottom: 30px;
}
#postfrase{
border-style: solid;
border-width: 1px;
border-color: #bcc7d7;
padding: 10px;
color:#bcc7d7;
font-size: 17px;
font-style: italic;
margin-bottom: 70px;
}
#autorfrase{
font-size: 14px;
}
#postfooter{
border-top-style: dotted;
border-width: 2px;
border-color: #bcbec0;
padding-top: 20px;
color: #bcbec0;
font-size: 14px;
font-style: italic;
}
#todososposts{
margin-left: 200px;
color:#1d3038; 
}
#sidebar{
margin-left: 5px;
margin-top: 45px;
background-color: white;
border-style: solid;
border-color:#bcc7d7;
border-width:3px;
padding: 25px;
padding-top: 5px;
color:#bcc7d7;
margin-bottom: 40px;
}
#categorias{
background-color:#bcc7d7;
color: white;
padding: 20px;
margin-bottom: 40px;
}
#amor{
border-color: white;
border-bottom-style: dotted;
border-width: 1px;
padding: 3px; 
}
.col-3{
height: 510px;
}
#busca{
border-style: solid;
border-width: 1px;
border-color: #bcc7d7;
padding: 30px;
}
#comentarios{
margin-top: 30px;
margin-left: 10px;
}
#tituloinvi{
color:#a9c3cf;
}
#esperança{
border-bottom-style: dotted;
border-width: 1px;
border-color: #bcbec0;
color: #bcbec0;
font-size: 16px; 
}
#adicionarcomentario{
margin-top: 20px;
}
#perseverança{
height: 40px;
}
#determinacao{
   margin-left: 590px;
}
#abacate{
    background-color: #bcc7d7;
    color: white;
}
#erroouu{
    color: red;
}

        </style>
</head>
    <header>
        <div id="cabecalho" class="row">
           <div id="hi" class="col">
            <a id="linkbranco" href="/../"><img id="casinha" src="https://i.ibb.co/z7yfKgs/casinha.png"> Home </a>
            <a id="linkbranco" href="#"><img id="sobre" src="https://i.ibb.co/ZxHRYQt/sobre.png"> Sobre</a>
            <a id="linkbranco" href="{% url 'login'%}"><img id="conta" src="https://i.ibb.co/rt2QWNs/conta.png"> Fazer Login</a>
           </div>
           <div  class="col"></div>
           <div class="col"></div> 
           <div id="hello" class="col">
               <a href="#"><img src="https://i.ibb.co/tCNYhG1/icon-facebook.png"></a>
                <a href="#"><img src="https://i.ibb.co/G9wjv1S/icon-twitter.png"></a>
                <a href="#"><img src="https://i.ibb.co/LpyrkBT/icon-insta.png"></a>
                <a href="#"><img src="https://i.ibb.co/zb6WHJF/icon-pinterest.png"></a>
                <a href="#"><img src="https://i.ibb.co/cyGL6JP/icon-heart.png"></a>
                <a href="#"><img src="https://i.ibb.co/YtNcShd/icon-wifi.png"></a>
           </div>
        </div>
        <div id="cabecalho2" class="row">
            <div class="col">            
            </div>
    
            <div class="col" align="center">
            <img id="EBM" src="{% static 'imagens/EBM.png' %}">
             </div>
    
             <div class="col" align="right">
    
            </div>
     
        </div>
        <div id="cabecalho2" class="row">
            <div class="col"></div>
            <div class="col" align="center">
                <p><i>Um blog sobre jogos, livros, Transformice, RuPaul e outras coisas!</i></p>
            </div>
            <div class="col"></div>
        </div>
       </header>