

{% include "blog/header.html" %}


    <body>
        <div id="corpo">
            {% include "blog/adonaaquisoueu.html" %}
            {% block content %}
            <div class="row">
                <div class="col-7">
                    <div id="tituloinvi">
                        <h2>OLAAAAAA EU SOU O FELIPE NETO</h2>                
                    </div>
                    <main>
                        <article>
                            <div id="post">
                                 <div id="titulolindo">
                                    <h2><p><center><b>{{ object.title }}</b></center></p></h2>                            
                                 </div>
                                 <br>
                                 <div id="dadospost">
                                     <center>
                                         <p>Autor(a): {{ object.author }}
                                            <br>
                                        Categoria: {{ object.category }}
                                        <br>
                                        Criado em: {{ object.created_at }}</p>
                                     </center>
                                 </div>
                                 <div id="postdescricao">
                                     <p>{{ object.description }}</p>
                                 </div>
                                 <div>
                                 <center><img src="{{ object.banner.url }}" class="img-fluid"></center>
                                 <center>{{ object.legenda }}</center>
                                 </div>
                                 <br>                         
                                 <div>
                                     <p>{{ object.text|safe }}</p>
                                 </div>
                                 <br>
                                 <div id="postfrase">
                                    <div>
                                        <center>
                                            <br>
                                            <p>"{{ object.phrase }}"</p>
                              
                                            <p id="autorfrase">~ {{ object.authorphrase}}</p>
                                        </center>
                                    </div>                             
                                 </div>
                                 <div id="postfooter">
                                     <div class="row">
                                        <div id="esperança" class="col-9">Comentários</div>
                                        <div id="perseverança" class="col-3">
                                            <a href="#"><img src="https://i.ibb.co/dBCBprR/icon-facebook-lilas.png" ></a>
                                            <a href="#"><img src="https://i.ibb.co/sFZK78g/icon-twitter-lilas.png" ></a>
                                            <a href="#"><img src="https://i.ibb.co/s5GnZhm/icon-insta-lilas.png" ></a>
                                        </div>
                                        <div id="adicionarcomentario">
                                            <form method="POST" action="{% url 'comment' object.id %}">
                                                {% csrf_token %}                 
                                                <textarea rows="4" cols="83" name="text" placeholder="Adicione um comentário público..."></textarea>
                                                <button type="submit" class="btn btn-info" id="determinacao">Postar</button>
                                            </form>
                                        </div>
                                        <div id="comentarios">
                                            {% for comment in post.comments.all %}
                                                <p>{{ comment.author }} | em {{ comment.created_at }}<br>
                                                {{ comment.text|safe }}</p><br>
                                            {% endfor %}
                                        </div>
                                     </div>
                                 </div>                 
                            </div>      
                        </article>
                    </main>
                    {% endblock %}
                </div>
                {% include "blog/sidebar.html" %}
            </div>

    </body>

{% include "blog/footer.html" %}