{% include "blog/header.html" %}


    <body>
        <div id="corpo">
            {% include "blog/adonaaquisoueu.html" %}
            
            <div class="row">                   
                <div class="col-7">
                    <div id="todososposts">
                        <h2>Todos os Posts</h2>                
                    </div>
                    {% for post in object_list %}
                        {% include "blog/post_card.html" %}
                    {% endfor %}
                </div>
                {% include "blog/sidebar.html" %}
            </div>
        </div>
    </body>


{% include "blog/footer.html" %}
