       
                    <main>
                        <article>
                            <div id="post">
                                 <div id="titulolindo">
                                    <h2><p><center><a id="linklilas" href="{% url 'post-detail' post.pk %}"><b>{{ post }}</b></a></center></p></h2>                            
                                 </div>
                                 <br>
                                 <div id="dadospost">
                                     <center>
                                         <p>Autor(a): {{ post.author}}
                                            <br>
                                        Categoria: {{ post.category }}</p>
                                     </center>
                                 </div>
                                 <div id="postdescricao">
                                     <p>{{ post.description }}</p>
                                 </div>                         
                                 <div id="dadospost">
                                    <center><p>Clique no título para conferir o post completo!</p></center>
                                 </div>
                                 <div id="postfooter">
                                     <div class="row">
                                        <div class="col-9">Comentários</div>
                                        <div class="col">
                                            <a href="#"><img src="https://i.ibb.co/dBCBprR/icon-facebook-lilas.png" ></a>
                                            <a href="#"><img src="https://i.ibb.co/sFZK78g/icon-twitter-lilas.png" ></a>
                                            <a href="#"><img src="https://i.ibb.co/s5GnZhm/icon-insta-lilas.png" ></a>
                                        </div>
                                     </div>
                                 </div>                 
                            </div>      
                        </article>
                    </main>
