<div id="sidebar" class="col-3">
    <p><center>Categorias</center></p>
        <div id="categorias">
            {% for category in categories %}
        <center><p id="amor"><a id="linkbranco" href="{% url 'category-detail' category.pk %}">{{ category.name }}</a></p></center>
            {% endfor %}
        </div>
    <p><center>Busca</center></p>
        <div id="busca">
            <div>
                <form  action="{% url 'search' %}" method="GET">
                    <input name="q" type="text" placeholder="Digite aqui sua busca :)">
                    <button id="abacate" type="submit" class="btn">Pesquisar</button>
                </form>
            </div>
        </div>
</div>

